.card {
  width: 100%;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #212121;
  padding-bottom: 4px;
  max-width: 255px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like_btn.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__content {
    width: 288px;
  }
  .card__title {
    max-width: 235px;
    margin-top: 0;
    font-size: 16px;
  }
}
