.header {
  margin: 0;
  padding: 10px 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 627px) {
  .header {
    padding: 10px 16px;
  }
}
