@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../vendor/fonts/Poppins-Regular.ttf") format("truetype");
}

.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
