.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  padding: 0;
  border: 0;
  display: flex;
  opacity: 70%;
  gap: 8px;
  background-color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
}

.profile__add-btn {
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: auto;
  padding: 0;
  background-color: #212121;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  color: #fcf5e5;
  border: 0;
  display: flex;
  gap: 8px;
}

.profile__add-btn-icon {
  width: 12px;
  height: 12px;
  margin-top: 20px;
  margin-left: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px;
}

.profile__add-btn-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  width: 73px;
  height: 16px;
  padding-top: 2px;
  margin-top: 18px;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0;
  }
  .profile__edit-btn {
    justify-content: center;
  }
}
