.modal {
  visibility: hidden;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 8px;
  margin: 0 auto;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.modal__container-delete-confirmation {
  margin: 0;
  width: 630px;
  padding: 32px 20px;
}

.modal__row {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}

.modal__delete-confirmation {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 32px 0 0;
}

.modal__delete-confirmation-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  border-width: 0;
  font-weight: 500;
  line-height: 100%;
  background-color: #ff6565;
  color: #212121;
}

.modal__cancel-confirmation-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 18px 32px;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  border-width: 1px;
  font-weight: 500;
  line-height: 100%;
  background-color: #fff;
  color: #212121;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  cursor: pointer;
}

.modal__delete-confirmation-message {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.modal__close-btn {
  background: transparent url("../images/close_icon.svg") center no-repeat;
  background-size: 35px 35px;

  height: 40px;
  width: 40px;
  border: none;
  opacity: 0.4;
  position: absolute;
  top: 26px;
  right: 50px;
  transition: 0.3s;

  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview {
  background: url("../images/closep.svg") center no-repeat;
  opacity: 1;
  top: 0;
  right: -52.5px;
}
.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}
.modal__close-btn_type_confirmation {
  background: url("../images/Delete_closeIcon.svg") center no-repeat;
  opacity: 1;
  top: 0;
  right: -52px;
}

.modal__form {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
}

.modal__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.7;
}

.modal__input {
  margin: 8px 0px 0px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  width: 100%;
  height: 52px;
  padding: 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  box-sizing: border-box;
  color: #212121;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__save-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  border: none;
  color: #fcf5e5;
  background-color: #212121;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33);
}
.modal__error {
  display: block;
  margin-top: 8px;
  color: #ff0000;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__button_disabled {
  opacity: 0.5;
}
.modal__input::placeholder {
  opacity: 0.3;
}

.modal__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}
.modal__delete-confirmation-btn:hover {
  background-color: #ff3333;
  cursor: pointer;
}
.modal__cancel-confirmation-btn:hover {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0;
  margin-top: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  max-width: 214px;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
}

@media screen and (max-width: 627px) {
  .modal__container {
    gap: 24px;
    max-width: 300px;
    margin: 0;
    padding: 22px 12px 12px;
  }
  .modal__row {
    margin: 0;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__form {
    font-size: 16px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__caption {
    font-size: 16px;
  }

  .modal_type_preview {
    max-width: unset;
  }

  .modal__image {
    max-width: unset;
  }
  .modal__save-btn {
    width: 100%;
    max-width: none;
  }
  .modal__container-delete-confirmation {
    padding: 12px;
    gap: 20px;
  }
  .modal__delete-confirmation-message {
    font-size: 20px;
    text-align: center;
    line-height: 120%;
  }
  .modal__delete-confirmation {
    padding: 0;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal__close-btn_type_confirmation {
    top: -56px;
    right: 6px;
  }
  .modal__container-edit-avatar {
    padding: 12px;
    gap: 12px;
  }
  .modal__title-edit-avatar {
    padding: 8px 0 8px;
  }
  .modal__label-edit-avatar {
    margin-bottom: 20px;
  }
}
